li {
  all: unset;
}

.events-title {
  font-size: 150%;
}

.events-viewport {
  height: 60vh;
  width: 72.5vw;
  justify-content: center;
  align-self: center;
  align-items: center;
  //border: 1px solid black;
}

.example-item {
  height: 50px;
}

.event-container{
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.grow-7 {
  flex-grow: 7;
}

.text {
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}

.buttons {
  align-items: center;
  justify-content: end;
}

.event-info {
  background-color: rgb(207, 205, 205);
  border-radius: 15px;
  padding: 12px;
  margin-right: 12px;
}
