@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin red-element() {
  background-color: #b10b0b;
  color: white;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin text-card() {
  padding: 6px 22px;
  font-size: 30px;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
}

.banner {
  @include flex-center();
  @include red-element();
  border-radius: 35px;
  height: 200px;
  width: 300px;
}

.event-title {
  @include flex-center();
  @include red-element();
  font-weight: 600;
  min-height: 50px;
  width: 70vw;
  position: relative;
  border-radius: 5px;
}

.event-container {
  @include flex-center();
  flex-direction: column;
  width: 55vw;

  p {
    margin: 12px;
    font-size: 22px;
  }

  .icon {
    height: 40px;
  }
}

.event-section-container {
  @include flex-column();
  min-width: 100%;

  .info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    @include text-card();
  }
}

.title-icon {
  @include flex-center();
  svg {
    margin-right: 10px;
  }
}

.vars-text {
  @include flex-center();
}

.flex-column {
  flex-direction: column
}

.price {
  @include flex-center();
  height: 80px;
  width: 120px;
  border-radius: 35px;
}

#first-info{
  margin-top: 0px;
}
